<% provide :title, t(:all_categories) %>
<h1><%= t :all_categories %></h1>
<div class="row text-center">
  <div class="col-md-6 col-md-offset-3">
    <%= link_to t(:category_create), new_admin_category_path, class: "btn btn-primary" %>
    <ul class="users">
      <%= render @categories %>
    </ul>
    <%= will_paginate %>
  </div>
</div>
